## Olist Notebook

In [52]:
import os
import sys
import numpy as np
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt

In [62]:
db_host='localhost'
db_name='olist_db'
db_user='olistuser'
db_pass='olistpass'

In [67]:
def connect_to_database():
    """Establish a connection to the PostgreSQL database."""
    try:
        connection = psycopg2.connect(
            dbname=db_name,
            user=db_user,
            password=db_pass,
            host=db_host
        )
        return connection
    except Error as e:
        print(f"Error connecting to database: {e}")
        return None
    
connection = connect_to_database()

In [54]:
data_dir = '../data'
os.listdir(data_dir)

['olist_customers_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_orders_dataset.csv',
 'olist_products_dataset.csv',
 'product_category_name_translation.csv',
 'olist_order_payments_dataset.csv',
 'olist_sellers_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_geolocation_dataset.csv']

In [55]:
reviews = pd.read_csv(f'{data_dir}/olist_order_reviews_dataset.csv')

In [58]:
for col in reviews.columns:
    if reviews[f'{col}'].isnull().sum() / len(reviews) >= 0.5:
        reviews = reviews.drop(columns=f'{col}')
reviews.to_csv(f'{data_dir}/clean/olist_order_reviews_dataset.csv')

In [59]:
reviews.head()

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01 00:00:00,2018-03-02 10:26:53

Error inserting order review: can't adapt type 'numpy.int64'

/tmp/ipykernel_592289/3091547827.py:36: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cursor.execute(insert_query, review_data)

In [68]:
def insert_order_reviews(connection, df):
    """Insert data into the order_reviews table."""
    try:
        cursor = connection.cursor()
        insert_query = """
            INSERT INTO olist.order_reviews (
                review_id,
                order_id,
                review_score,
                review_creation_date,
                review_answer_timestamp
            ) VALUES (
                %s, %s, %s, %s, %s
            )
        """
        for index, row in df.iterrows():
            review_data = (
                row['review_id'],
                row['order_id'],
                row['review_score'],
                row['review_creation_date'],
                row['review_answer_timestamp']
            )
            cursor.execute(insert_query, review_data)
        connection.commit()
        print("Order reviews inserted successfully.")
    except Error as e:
        print(f"Error inserting order reviews: {e}")
        connection.rollback()
connect_to_database()       
insert_order_reviews(connection, reviews)

Order reviews inserted successfully.

In [70]:
# script

import os
import sys
import numpy as np
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt


db_host='localhost'
db_name='olist_db'
db_user='olistuser'
db_pass='olistpass'

data_dir = '../data'

def clean():
    for col in reviews.columns:
        if reviews[f'{col}'].isnull().sum() / len(reviews) >= 0.5:
            reviews = reviews.drop(columns=f'{col}')
    reviews.to_csv(f'{data_dir}/clean/olist_order_reviews_dataset.csv')

def connect_to_database():
    """Establish a connection to the PostgreSQL database."""
    try:
        connection = psycopg2.connect(
            dbname=db_name,
            user=db_user,
            password=db_pass,
            host=db_host
        )
        return connection
    except Error as e:
        print(f"Error connecting to database: {e}")
        return None
    
    
def insert_order_reviews(connection, df):
    """Insert data into the order_reviews table."""
    try:
        cursor = connection.cursor()
        insert_query = """
            INSERT INTO olist.order_reviews (
                review_id,
                order_id,
                review_score,
                review_creation_date,
                review_answer_timestamp
            ) VALUES (
                %s, %s, %s, %s, %s
            )
        """
        for index, row in df.iterrows():
            review_data = (
                row['review_id'],
                row['order_id'],
                row['review_score'],
                row['review_creation_date'],
                row['review_answer_timestamp']
            )
            cursor.execute(insert_query, review_data)
        connection.commit()
        print("Order reviews inserted successfully.")
    except Error as e:
        print(f"Error inserting order reviews: {e}")
        connection.rollback()

    

def main():
    db_host='localhost'
    db_name='olist_db'
    db_user='olistuser'
    db_pass='olistpass'

    data_dir = '../data'
    
    connection = connect_to_database()
    insert_order_reviews(connection, reviews)